<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner</title>
    <link rel="shortcut icon" type="image/png" href="<%= temp %>/jasmine_favicon.png">
    <% css.forEach(function(style){ %>
        <link rel="stylesheet" type="text/css" href="<%= style %>">
    <% }) %>

    <% with (scripts) { %>
        <% [].concat(polyfills, jasmine, boot, vendor, helpers, src, specs,reporters).forEach(function(script){ %>
            <script src="<%= script %>"></script>
        <% }) %>
    <% }; %>
</head>

<body>
    <div id="sandbox">
        <div id="a" class="mcash-shortlink test" data-shortlink-id="moo"></div>
        <div id="b" class="mcash-shortlink test" data-shortlink-id="moo" data-shortlink-argstring="far"></div>
        <div id="c" class="mcash-shortlink test" data-shortlink-id="foo" data-shortlink-prefix="q"></div>
        <div id="d" class="mcash-shortlink test" data-shortlink-id="boo" data-shortlink-prefix="../../"></div>
        <div id="e" class="mcash-shortlink test" data-shortlink-id="goo" data-shortlink-intent="no.mcashtestbed"></div>
    </div>

</body>

</html>
