.mcash-wrapper {
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #28ACFF;
    max-width: 400px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.mcash-wrapper .mcash-qr-image {
    background-color: #fff;
    width: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.mcash-wrapper .mcash-qr-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
}
.mcash-nav {
    overflow: hidden;
}
.mcash-logo {
    width: auto;
    height: 24px;
    float: left;
}
.mcash-link {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: top left;
    width: 24px;
    height: 24px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #fff;
    line-height: 24px;
    text-indent: -9999em;
    margin-left: 6px;
    float: right;
}
.mcash-ios {
    background-image: url('../images/ios_white.png');
}
.mcash-ios-green {
    background-image: url('../images/ios_green.png');
}
.mcash-android {
    background-image: url('../images/android_white.png');
}
.mcash-android-green {
    background-image: url('../images/android_green.png');
}
.mcash-green {
    display: inline-block;
    background-color: #010C26;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}
.mcash-green .mcash-qr-image {
    margin-bottom: 10px;
}
